.App {
  text-align: center;
}
h1 {
  color: rgb(207, 238, 201);
}
h2 {
  color: #76cfff;
}
ul {
  list-style: none;
}
li {
  font-size: 30px;
  /* color: rgb(75, 151, 245); */
  color: rgb(255, 255, 255);
}
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 17%,
    rgba(9, 9, 121, 1) 66%,
    rgba(2, 0, 36, 1) 100%
  );
}
